body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container img {
    width: 100px;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 0.5rem 1rem;
    background-color: #8f8f8f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #444444;
}

.error-message {
    color: #ff0000;
    margin-bottom: 1rem;
}

/* css dashboard */
.dashboard-content {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.dashboard-content h2 {
    color: #ff0000;
    font-size: 24px;
    margin-bottom: 10px;
}

.additional-content {
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.additional-content h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.additional-content p {
    color: #666;
    margin-bottom: 8px;
}

.text-blue-500 {
    color: #1a237e;
}

.text-blue-500:hover {
    text-decoration: underline;
}
